body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-header {
  display: flex;
  align-items: center;
}

.brand .n-logo {
  margin-bottom: 24px;
}

.rr-branding .btn-secondary {
  background-color: black;
}

.rr-branding .btn-secondary:active {
  background-color: black !important;
}
